body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    width: 30%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 30%;
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#alarmSound {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}